@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #D1CAAE;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --Black: #0f0f0f;
    --yellow-solid: #EBBD7C;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-solid));
    --gradient-color-alt: linear-gradient(to right, var(--purple-solid), var(--yellow-solid));
}
h1{
    color: var(--yellow-solid);
    position:relative;
}
html{
    font-size: 10px;
}body{
    font-family:'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);

}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    padding: 5rem 0;

}
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin:0 auto;
}
.header{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--Black) ;
    z-index: 999;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo img{
    max-width: 20%;
  
}
.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}
.hamburger-menu .fa-times{
    display:none;

}

.menu-open .hamburger-menu .fa-times{
    display: block;
}
.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--purple-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s ;

}


.menu-open   .nav-list{
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(:last-child){
    margin-bottom: .5rem;
}






.nav-link{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;


}
#map{
    height: 80vh;
    width: 80hw;
}
.booking{
    background-color: var(--purple-solid);
}
.input-group{
    margin-bottom: 1.5rem;
}
.input-label{
    display: block;
    font-size: 1.3rem;
text-transform: uppercase;
color: #fff;
font-weight: bold;
margin-bottom: 1rem;


}
.input,
.options{
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family:"Open Sans",sans-serif;
}

  .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: helvetica;
    font-weight: 250;
    font-size: 15px;
    font-style: italic;
    color: #000000;
    background-color: #EBBD7C;
    border-radius: 15px;
    border: 3px double #000000;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

  .section-head{
    text-align: center;
    margin-bottom: 5rem;
  }
.heading{
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}
.sub-heading{
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5; 
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid: gap 2.5rem;

}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-hotels{
    height: 35rem;
    color:#fff;
    padding: 1rem;
    position: relative;

}
.featured-hotels::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#d1caaead;
    z-index: -1;
}

.hotel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.hotel-name{
    font-size: 2.6rem;
    color: #252525;
}
.hotel-price{
    font-size: 1.8rem;
    color: #252525;
}
.hotel-rating{
    margin: 1rem 0 2.5rem;

}.rating{
    color:var(--Black);
}
